<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.iot.ota_web.mapper.TokenMapper">
	
	<resultMap type="token" id="tokenMap">
		<id column="id" property="id"/>
		<result column="uuid" property="uuid"/>
		<result column="expireTime" property="expireTime"/>
		<result column="type" property="type"/>
	</resultMap>
	
	<insert id="addToken" parameterType="token">
		<selectKey resultType="int" order="AFTER" keyProperty="id">
          SELECT LAST_INSERT_ID()
     	</selectKey>
		insert into token(uuid,expireTime,type) values(#{uuid},#{expireTime},#{type})
	</insert>
	
	<delete id="deleteToken" parameterType="com.alibaba.fastjson.JSONObject">
		delete from
			token
		where
			id not in (
				select user_token_id from user
			)
			<if test="flag_date != null">
				or expireTime&lt;#{flag_date}
			</if>
	</delete>
	
	<update id="refreshToken" parameterType="com.alibaba.fastjson.JSONObject">
		update 
			token 
		set 
			expireTime=#{expireTime} 
			<if test='uuid != null and uuid != "" and uuid != "null"'>
				,uuid=#{uuid}
			</if>
		where 
			<if test="userId != null">
				id=(select user_token_id from user where id=#{userId})
			</if>
			<if test='org_token != null and org_token != "" and org_token != "null"'>
				uuid=#{org_token}
			</if>
	</update>
	
	<select id="getTokens" parameterType="com.alibaba.fastjson.JSONObject" resultMap="tokenMap">
		select * from token
		where 1=1
			<if test='uuid != null and uuid != "" and uuid != "null"'>
				and uuid=#{uuid}
			</if>
	</select>
</mapper>